@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&family=Montserrat:wght@500&family=Nunito+Sans:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-family: Montserrat, sans-serif;
}

p {
    font-family: 'Hind Vadodara', sans-serif;
}

a {
    font-family: 'Hind Vadodara', sans-serif;
}